.main-title {
    color: #4A647A;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    span {
        color: #FC474E;
    }
    @media(max-width: 991px) {
        font-size: 24px;
    }
}

.main-txt {
    color: #787E83;
    font-size: 16px;
}

.container {
    max-width: 1808px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.header-desctop {
    box-shadow: 0px 4px 5px rgba(26, 21, 86, 0.14);
    @media(max-width: 1279px) {
        display: none;
    }
}

.header__top {
    background: #41ACDD;
    padding: 11px 15px;
}

.top-nav {
    max-width: 1006px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    a {
        color: #FFFFFF;
        font-size: 16px;
        display: inline-block;
        padding: 7px 11px;
        border-radius: 2px;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #70D2FF;
        }
    }
}

.header__bottom {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 336px;
    display: flex;
}

.logo__slogan {
    color: #4A647A;
    font-size: 15px;
    margin-bottom: 3px;
}

.logo__txt,
.logo-mob__txt {
    background: #1AAC9F;
    border-radius: 0px 4px 4px 0px;
    text-transform: uppercase;
    font-size: 32px;
    font-family: "BebasNeueBold";
    display: flex;
    align-items: center;
    padding: 7px 7px 7px 0px;
    color: white;
    position: relative;
    left: -10px;
    li {
        &:first-child {
            color: #ED1C24;
            border-radius: 0px 8px 8px 0px;
            background: white;
            padding: 3px 5px 0px 4px;
            line-height: 34px;
        }
        &:not(:first-child) {
            position: relative;
            padding-left: 12px;
            top: 1px;
            &:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                background: white;
                border-radius: 10em;
            }
        }
    }
}

.main-nav__list {
    display: flex;
    align-items: center;
    border: 1px solid #70D2FF;
    a {
        font-size: 18px;
        display: inline-block;
        position: relative;
        padding: 15px 18px 15px 49px;
        color: #2D93BA;
        &:after {
            content: '';
            position: absolute;
            left: 13px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }
    }
}

.link-work:after {
    background: url('../img/doc-icon.png') no-repeat center;
    background-size: contain;
}

.link-med:after {
    background: url('../img/shield-icon.png') no-repeat center;
    background-size: contain;
}

.link-prof:after {
    background: url('../img/smartwatch-icon.png') no-repeat center;
    background-size: contain;
}

.link-dg:after {
    background: url('../img/cardiogram-icon.png') no-repeat center;
    background-size: contain;
}

.link-org:after {
    background: url('../img/doctor-icon.png') no-repeat center;
    background-size: contain;
}

.main-nav__list>li {
    position: relative;
    &:hover {
        .main-nav__dropdown-top {
            display: block;
        }
    }
    &:not(:last-child) {
        border-right: 1px solid #70D2FF;
    }
}

.main-nav__nav-inner:hover {
    .main-nav__dropdown-inner {
        display: block;
    }
}

.link-drop-inner {
    @media(max-width: 1919px) {
        padding-right: 20px !important;
    }
    &:before {
        content: '';
        position: absolute;
        right: -12px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url('../img/arrow-right.png') no-repeat center;
        background-size: contain;
        @media(max-width: 1919px) {
            right: 7px;
            width: 15px;
            height: 15px;
        }
    }
}

.main-nav__dropdown-inner {
    width: 100%;
    left: 100%;
    top: -48px;
}

.main-nav__inner-block {
    position: relative;
}

.header__info {
    display: flex;
    align-items: center;
}

.work-time {
    padding-left: 57px;
    position: relative;
    margin-right: 30px;
    &:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/clock-icon.png') no-repeat center;
        background-size: contain;
    }
    li {
        font-size: 15px;
        color: #4A647A;
        &:first-child {
            font-weight: 500;
        }
        margin-bottom: 8px;
    }
}

.phone-link {
    font-family: "BebasNeueBold";
    font-size: 39px;
    color: #ED1C24;
}

.phone-block__article {
    font-size: 18px;
    color: #27A2DB;
}

@media(max-width: 1919px) {
    .main-nav {
        margin-right: 20px;
        margin-left: 20px;
    }
    .main-nav__list a {
        padding: 10px 2px 10px 2px;
        &:after {
            display: none;
        }
    }
    .main-nav__list>li {
        width: 20%;
        text-align: center;
    }
    .phone-link_desc {
        font-size: 28px;
    }
    .phone-block__article_desc {
        font-size: 12px;
    }
    .header__info {
        width: 334px;
        ul {
            &:first-child {
                width: 40%;
            }
            &:last-child {
                width: 60%;
            }
        }
    }
    .work-time_desc {
        padding-left: 0;
        li {
            font-size: 11px;
        }
        &:after {
            display: none;
        }
    }
}

@media(max-width: 1365px) {
    .main-nav__list a {
        font-size: 13px;
    }
}

@media(min-width: 1366px) and (max-width: 1599px) {
    .main-nav__list a {
        font-size: 14px;
    }
}

@media(max-width: 1599px) {
    .logo {
        width: 180px;
    }
    .logo__txt {
        font-size: 20px;
    }
    .logo__slogan {
        font-size: 10px;
    }
    .main-nav {
        width: calc(100% - 514px);
    }
    .logo__img {
        display: none;
    }
    .logo__txt {
        left: 0;
    }
}

@media(min-width: 1600px) and (max-width: 1919px) {
    .main-nav {
        width: 850px;
    }
    .main-nav__list a {
        font-size: 15px;
    }
}

.main-nav__dropdown-top,
.main-nav__dropdown-inner {
    position: absolute;
    text-align: left;
    background: white;
    box-shadow: -2px 6px 30px rgba(56, 55, 121, 0.19);
    display: none;
    li {
        &:not(:last-child) {
            border-bottom: 1px solid #BCEAFF;
        }
    }
    a {
        font-size: 15px;
        @media(max-width: 1919px) {
            font-size: 13px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &:after {
            background: url('../img/doc-icon.png') no-repeat center;
            background-size: contain;
        }
    }
}

.header-mobile {
    @media(min-width: 1280px) {
        display: none;
    }
}

.header-mobile__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 21px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(26, 21, 86, 0.14);
    position: relative;
    z-index: 10;
}

.burger {
    width: 24px;
    height: 24px;
    background: url('../img/burger.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.burger.is-active {
    background: url('../img/close-icon.png') no-repeat center;
}

.phone-icon {
    width: 18px;
    height: 18px;
    background: url('../img/phone-icon.png') no-repeat center;
}

.logo-mob {
    display: flex;
    justify-content: center;
    background: #1AAC9F;
}

.dropdown-menu {
    position: absolute;
    left: -100%;
    top: 120px;
    background: #41ACDD;
    padding: 24px 0px;
    max-width: 400px;
    width: 100%;
    color: white;
    transition: 0.5s;
    z-index: 5;
}

.dropdown-menu.is-active {
    left: 0;
}

.dropdown-menu__list-top {
    padding: 0 42px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    li {
        width: 50%;
        margin-bottom: 16px;
    }
}

.mob-nav {
    margin-bottom: 30px;
    a,
    p {
        display: inline-block;
        position: relative;
        padding-left: 30px;
        &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            background: url('../img/menu-icon-w.png') no-repeat center;
            background-size: contain;
        }
    }
    p {
        font-size: 18px;
        font-weight: 500;
        display: block;
        &:before {
            content: '';
            position: absolute;
            right: 7px;
            top: 50%;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            background: url('../img/arrow-down-w.png') no-repeat center;
            background-size: contain;
        }
    }
}

.mob-nav>li {
    padding: 14px 27px;
    cursor: pointer;
}

.mob-nav>li.is-active {
    background: #369FCF;
}

.mob-nav__dropdown {
    padding-top: 24px;
    display: none;
    a {
        font-size: 15px;
    }
}

.mob-nav__dropdown {
    li {
        margin-bottom: 11px;
    }
}

.phone-block_mob {
    padding-left: 40px;
    margin-bottom: 16px;
}

.phone-link_mob,
.phone-block__article_mob {
    color: white;
}

.work-time_mob {
    margin-right: 0;
    margin-left: 40px;
    &:after {
        background: url('../img/clock-white.png') no-repeat center;
    }
    li {
        color: white;
    }
}

.footer {
    padding: 41px 60px;
    background: #EBF8FF url('../img/wave.png') no-repeat bottom right;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 150px;
}

.footer__title {
    color: #4A647A;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 29px;
}

.footer-nav {
    a {
        font-size: 18px;
        color: #4A647A;
        &:hover {
            color: #27A2DB;
            border-bottom: 1px dashed #27A2DB;
        }
    }
    li {
        margin-bottom: 15px;
    }
}

.logo__footer {
    margin-bottom: 26px;
}

.phone-block__footer {
    margin-bottom: 16px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright {
    color: #A1A4A7;
    font-size: 14px;
}

@media(max-width: 767px) {
    .footer__top {
        display: block;
        margin-bottom: 50px;
    }
    .footer__top>li {
        margin-bottom: 43px;
    }
    .footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 41px 35px;
    }
    .footer__bottom {
        li {
            &:last-child {
                display: none;
            }
        }
    }
}

@media(min-width: 768px) and (max-width: 1599px) {
    .footer {
        padding: 41px 20px;
    }
}

@media(min-width: 768px) and (max-width: 1279px) {
    .footer__top>li {
        margin-bottom: 40px;
    }
}

@media(max-width: 1279px) {
    .logo__footer {
        display: none;
    }
}

@media(min-width: 992px) and (max-width: 1599px) {
    .footer__top>li {
        width: 20%;
        &:last-child {
            width: 12%;
        }
        &:first-child {
            width: 21%;
        }
    }
    .phone-link_footer {
        font-size: 28px;
    }
}

.logo__footer {
    @media(min-width: 1280px) {
        width: 100%;
        .logo__txt {
            left: -12px;
        }
    }
    @media(min-width: 1280px) and (max-width: 1599px) {
        .logo__slogan {
            margin-bottom: 11px;
        }
    }
    .logo__img {
        @media(min-width: 1280px) {
            display: block;
        }
    }
}

.gerb {
    display: flex;
    align-items: center;
}

.gerb__img {
    margin-right: 16px;
}

.gerb__article {
    color: #4A647A;
    font-size: 16px;
    @media(max-width: 991px) {
        font-size: 14px;
    }
}

.about-us {
    padding-top: 27px;
    @media(max-width: 991px) {
        padding-top: 10px;
    }
}

.about-tooltip {
    background: #CEF8E9;
    padding: 7px 14px;
    color: #4A647A;
    @media(max-width: 991px) {
        font-size: 13px;
    }
    @media(min-width: 1600px) {
        border-radius: 6px;
        width: 376px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: -20px;
            top: 50%;
            transform: translateY(-50%);
            width: 25px;
            height: 19px;
            background: url('../img/poligon.png') no-repeat center;
            background-size: contain;
        }
    }
}

.about-us__top {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    @media(min-width: 1600px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.about-us__container {
    @media(max-width: 991px) {
        padding: 0;
    }
}

.about-us__top {
    li {
        margin-bottom: 11px;
        &:nth-child(3) {
            @media(max-width: 991px) {
                order: 1;
            }
        }
        &:nth-child(2) {
            @media(max-width: 991px) {
                order: 2;
            }
        }
    }
}

.about-us__text {
    margin-bottom: 20px;
}

.filials-slider-wrap {
    position: relative;
}

.filials-slider__img {
    text-align: center;
}

.filials {
    background: #F4F8FD;
    padding-top: 25px;
    padding-bottom: 34px;
    margin-bottom: 56px;
}

.filials__top {
    position: relative;
    margin-bottom: 38px;
}

.map-scroll-btn {
    color: #FC464D;
    padding-left: 26px;
    width: 251px;
    height: 48px;
    position: absolute;
    border: 1px solid #FC474E;
    top: 50%;
    transform: translateY(-50%);
    right: 26px;
    border-radius: 4px;
    background: transparent url('../img/marker.png') no-repeat left 30px center;
    @media(max-width: 1279px) {
        display: none;
    }
    @media(max-width: 1599px) {
        width: 184px;
        background: transparent url('../img/marker.png') no-repeat left 10px center;
    }
}

.filials-slider__img {
    margin-bottom: 12px;
}

.filials-slider__link {
    font-weight: 600;
    font-size: 18px;
    color: #4A647A;
    border-bottom: 1px dashed #4A647A;
    &:hover {
        color: #27A2DB;
        border-bottom: 1px dashed #27A2DB;
    }
}

.filials-slider__cont {
    padding: 0 15px;
    @media(max-width: 991px) {
        padding: 0 4px;
    }
    li {
        margin-bottom: 15px;
        &:first-child {
            margin-bottom: 20px;
            @media(max-width: 767px) {
                text-align: center;
            }
        }
        &:last-child {
            display: flex;
            align-items: center;
        }
        &:not(:first-child) {
            font-size: 18px;
            color: #4A647A;
            padding-left: 36px;
            @media(max-width: 767px) {
                font-size: 13px;
            }
        }
    }
}

.filials-slider {
    padding-bottom: 50px;
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
    @media(max-width: 767px) {
        padding-bottom: 30px;
    }
}

.filials-slider__item {
    border-radius: 6px;
    padding: 12px;
    &:hover {
        background: white;
        box-shadow: 2px 6px 30px rgba(56, 55, 121, 0.19);
    }
}

.filials-slider__adress,
.filials-slider__work-time,
.filials-slider__metro {
    position: relative;
    &:after {
        content: '';
        position: absolute;
        left: -35px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
    }
}

.filials-slider__metro {
    margin-right: 25px;
}

.filials-slider__metro:after {
    width: 32px;
    height: 32px;
    left: -38px;
}

.filials-slider__adress:after {
    background: url('../img/gps-icon.png') no-repeat center;
}

.filials-slider__work-time:after {
    background: url('../img/clock-icon.png') no-repeat center;
    background-size: contain;
}

.filials-slider__metro.red:after {
    background: url('../img/metro-red.png') no-repeat center;
    background-size: contain;
}

.filials-slider__metro.orange:after {
    background: url('../img/metro-orange.png') no-repeat center;
    background-size: contain;
}

.filials-slider__metro.blue:after {
    background: url('../img/metro-blue.png') no-repeat center;
    background-size: contain;
}

.filials-slider__metro.grey:after {
    background: url('../img/metro-grey.png') no-repeat center;
    background-size: contain;
}

.filials-slider__distance {
    position: relative;
    padding-left: 23px;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url('../img/walk-icon.png') no-repeat center;
        background-size: contain;
    }
}

.swiper-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        background: #E5E5E5;
    }
    .swiper-pagination-bullet-active {
        width: 12px;
        height: 12px;
        background: #FC474E;
    }
}

.swiper-button-next {
    background: url('../img/arrow-right.png') no-repeat center;
    width: 20px;
    height: 34px;
}

.swiper-button-prev {
    background: url('../img/arrow-left.png') no-repeat center;
    width: 20px;
    height: 34px;
}

.filials-slider-wrap {
    @media(max-width: 767px) {
        padding: 0;
    }
    .swiper-button-next {
        right: -20px;
        @media(max-width: 1840px) {
            top: 28%;
            right: 10px;
            width: 48px;
            height: 48px;
            background: rgba(255, 255, 255, 0.7) url('../img/arrow-right.png') no-repeat center;
        }
    }
    .swiper-button-prev {
        left: -20px;
        @media(max-width: 1840px) {
            top: 28%;
            left: 10px;
            width: 48px;
            height: 48px;
            background: rgba(255, 255, 255, 0.7) url('../img/arrow-left.png') no-repeat center;
        }
    }
}