.header-desctop {
    box-shadow: 0px 4px 5px rgba(26, 21, 86, 0.14);
    @media(max-width: 1279px) {
        display: none;
    }
}

.header__top {
    background: #41ACDD;
    padding: 11px 15px;
}

.top-nav {
    max-width: 1006px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    a {
        color: #FFFFFF;
        font-size: 16px;
        display: inline-block;
        padding: 7px 11px;
        border-radius: 2px;
        border: 1px solid transparent;
        &:hover {
            border: 1px solid #70D2FF;
        }
    }
}

.header__bottom {
    padding: 20px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 336px;
    display: flex;
}

.logo__slogan {
    color: #4A647A;
    font-size: 15px;
    margin-bottom: 3px;
}

.logo__txt,
.logo-mob__txt {
    background: #1AAC9F;
    border-radius: 0px 4px 4px 0px;
    text-transform: uppercase;
    font-size: 32px;
    font-family: "BebasNeueBold";
    display: flex;
    align-items: center;
    padding: 7px 7px 7px 0px;
    color: white;
    position: relative;
    left: -10px;
    li {
        &:first-child {
            color: #ED1C24;
            border-radius: 0px 8px 8px 0px;
            background: white;
            padding: 3px 5px 0px 4px;
            line-height: 34px;
        }
        &:not(:first-child) {
            position: relative;
            padding-left: 12px;
            top: 1px;
            &:after {
                content: '';
                position: absolute;
                left: 5px;
                top: 50%;
                transform: translateY(-50%);
                width: 5px;
                height: 5px;
                background: white;
                border-radius: 10em;
            }
        }
    }
}

.main-nav__list {
    display: flex;
    align-items: center;
    border: 1px solid #70D2FF;
    a {
        font-size: 18px;
        display: inline-block;
        position: relative;
        padding: 15px 18px 15px 49px;
        color: #2D93BA;
        &:after {
            content: '';
            position: absolute;
            left: 13px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }
    }
}

.link-work:after {
    background: url('../img/doc-icon.png') no-repeat center;
    background-size: contain;
}

.link-med:after {
    background: url('../img/shield-icon.png') no-repeat center;
    background-size: contain;
}

.link-prof:after {
    background: url('../img/smartwatch-icon.png') no-repeat center;
    background-size: contain;
}

.link-dg:after {
    background: url('../img/cardiogram-icon.png') no-repeat center;
    background-size: contain;
}

.link-org:after {
    background: url('../img/doctor-icon.png') no-repeat center;
    background-size: contain;
}

.main-nav__list>li {
    position: relative;
    &:hover {
        .main-nav__dropdown-top {
            display: block;
        }
    }
    &:not(:last-child) {
        border-right: 1px solid #70D2FF;
    }
}

.main-nav__nav-inner:hover {
    .main-nav__dropdown-inner {
        display: block;
    }
}

.link-drop-inner {
    @media(max-width: 1919px) {
        padding-right: 20px !important;
    }
    &:before {
        content: '';
        position: absolute;
        right: -12px;
        top: 50%;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url('../img/arrow-right.png') no-repeat center;
        background-size: contain;
        @media(max-width: 1919px) {
            right: 7px;
            width: 15px;
            height: 15px;
        }
    }
}

.main-nav__dropdown-inner {
    width: 100%;
    left: 100%;
    top: -48px;
}

.main-nav__inner-block {
    position: relative;
}

.header__info {
    display: flex;
    align-items: center;
}

.work-time {
    padding-left: 57px;
    position: relative;
    margin-right: 30px;
    &:after {
        content: '';
        position: absolute;
        width: 40px;
        height: 40px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/clock-icon.png') no-repeat center;
        background-size: contain;
    }
    li {
        font-size: 15px;
        color: #4A647A;
        &:first-child {
            font-weight: 500;
        }
        margin-bottom: 8px;
    }
}

.phone-link {
    font-family: "BebasNeueBold";
    font-size: 39px;
    color: #ED1C24;
}

.phone-block__article {
    font-size: 18px;
    color: #27A2DB;
}

@media(max-width: 1919px) {
    .main-nav {
        margin-right: 20px;
        margin-left: 20px;
    }
    .main-nav__list a {
        padding: 10px 2px 10px 2px;
        &:after {
            display: none;
        }
    }
    .main-nav__list>li {
        width: 20%;
        text-align: center;
    }
    .phone-link_desc {
        font-size: 28px;
    }
    .phone-block__article_desc {
        font-size: 12px;
    }
    .header__info {
        width: 334px;
        ul {
            &:first-child {
                width: 40%;
            }
            &:last-child {
                width: 60%;
            }
        }
    }
    .work-time {
        padding-left: 0;
        li {
            font-size: 11px;
        }
        &:after {
            display: none;
        }
    }
}

@media(max-width: 1365px) {
    .main-nav__list a {
        font-size: 13px;
    }
}

@media(min-width: 1366px) and (max-width: 1599px) {
    .main-nav__list a {
        font-size: 14px;
    }
}

@media(max-width: 1599px) {
    .logo {
        width: 180px;
    }
    .logo__txt {
        font-size: 20px;
    }
    .logo__slogan {
        font-size: 10px;
    }
    .main-nav {
        width: calc(100% - 514px);
    }
    .logo__img {
        display: none;
    }
    .logo__txt {
        left: 0;
    }
}

@media(min-width: 1600px) and (max-width: 1919px) {
    .main-nav {
        width: 850px;
    }
    .main-nav__list a {
        font-size: 15px;
    }
}

.main-nav__dropdown-top,
.main-nav__dropdown-inner {
    position: absolute;
    text-align: left;
    background: white;
    box-shadow: -2px 6px 30px rgba(56, 55, 121, 0.19);
    display: none;
    li {
        &:not(:last-child) {
            border-bottom: 1px solid #BCEAFF;
        }
    }
    a {
        font-size: 15px;
        @media(max-width: 1919px) {
            font-size: 13px;
            padding-left: 10px;
            padding-right: 10px;
        }
        &:after {
            background: url('../img/doc-icon.png') no-repeat center;
            background-size: contain;
        }
    }
}

.header-mobile {
    @media(min-width: 1280px) {
        display: none;
    }
}

.header-mobile__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 21px;
    background: #FFFFFF;
    box-shadow: 0px 4px 5px rgba(26, 21, 86, 0.14);
    position: relative;
    z-index: 10;
}

.burger {
    width: 24px;
    height: 24px;
    background: url('../img/burger.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
}

.burger.is-active {
    background: url('../img/close-icon.png') no-repeat center;
}

.phone-icon {
    width: 18px;
    height: 18px;
    background: url('../img/phone-icon.png') no-repeat center;
}

.logo-mob {
    display: flex;
    justify-content: center;
    background: #1AAC9F;
}