.breadcrumbs
    a(href="#") Главная
    a(href="#") Медицинские центры
    a Медицинский центр на Братиславской

.about-us
    .container.about-us__container
        ul.about-us__top
            li
                .gerb
                    .gerb__img
                        img(src="img/orel.png")
                    .gerb__article Лицензия департамента<br> здравоохранения города Москвы
            li
                h1.main-title.about-us__title Медицинский центр на ул. Братиславская, 33
            li
                .about-tooltip
                    p Мы не продаем справки. Для получения справки нужно обязательно пройти медосмотр.
    .container.about-us__text
        .main-txt
            p У нас вы можете быстро, без очередей пройти обследование для оформления медицинских документов. Мы выдаем медкнижки, а также справки для самых разных потребностей: для работы, для получения прав, вида на жительство, для посещения бассейна и др. Каждый наш медцентр обладает необходимыми лицензиями, справки оформляем официально, в соответствии с последними указаниями Минздрава.

.center-info.container
    .column
        .map-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    img(src="img/map-sl.jpg")
                .swiper-slide
                    img(src="img/map-sl.jpg")    
                .swiper-slide
                    img(src="img/map-sl.jpg")
            
            .swiper-pagination

    .column
        ul.center-info__top
            li
                .center-info__adress
                    span Братиславская
                    span 200 м

                ul.phone-block.phone-block_center
                    li
                        a(href="tel:+74957810037").phone-link.phone-link_center +7 (495) 781-00-37
                    li  
                        .phone-block__article.phone-block__article_center Единый номер контакт-центра
            li
                .center-info__street 
                    p Москва, ул. Малая Юшуньская, 1к1

                .center-info__work-time Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
        
        form(action="#" method="post").center-form
            ul.center-form__list-top
                li.column
                    p.center-form__title Отправьте заявку - нужная справка через 30 минут!
                    ul.center-form__top
                        li
                            input(type="text" placeholder="Ваше имя").inp.inp_name
                        li
                            input(type="text" placeholder="Ваш телефон").inp.inp_phone
                    
                    textarea.textfield.textfield_center(placeholder="Комментарий")
                    
                    ul.center-form__list
                        li
                            button(type="submit").submit-btn.submit-btn_center
                                span Отправить заявку
                        li
                            .privacy-link.privacy-link_center Нажимая на кнопку «Отправить заявку», вы принимаете условия передачи и 
                                a(href="#") обработки информации
                li.column
                    .center-form__img
                        img(src="img/small-doctor.png")


.advantages.container
    h2.main-title.advantages__title Наши преимущества
    .advantag-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                ul.advantag-slider__item
                    li
                        img(src="img/hospital-icon.png")
                    li
                        .advantag-slider__article 20 медицинских<br> центров рядом с метро

            .swiper-slide
                ul.advantag-slider__item
                    li
                        img(src="img/doctor.png")
                    li
                        .advantag-slider__article Медкнижки и<br> медсправки для всех

            .swiper-slide
                ul.advantag-slider__item
                    li
                        img(src="img/calendar-icon.png")
                    li
                        .advantag-slider__article Онлайн запись на<br> комиссиию

            .swiper-slide
                ul.advantag-slider__item
                    li
                        img(src="img/distance-icon.png")
                    li
                        .advantag-slider__article Выездные профосмотры<br> для организаций

        .swiper-pagination

.all-category
    h2.main-title.all-category__title Медицинские справки всех категорий
    .cat-slider-wrap.container
        .cat-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    ul.cat-slider__item
                        li
                            .cat-slider__img
                                img(src="img/sl-1.jpg")
                                .cat-slider__price от 1200 руб
                        li
                            a(href="#").cat-slider__link Медсправка для ГИБДД<br> (форма 003-В/у)

                .swiper-slide
                    ul.cat-slider__item
                        li
                            .cat-slider__img
                                img(src="img/sl-2.jpg")
                                .cat-slider__price от 1200 руб
                        li
                            a(href="#").cat-slider__link Справка для госслужбы<br> 001-ГС/у

                .swiper-slide
                    ul.cat-slider__item
                        li
                            .cat-slider__img
                                img(src="img/sl-3.jpg")
                                .cat-slider__price от 1800 руб
                        li
                            a(href="#").cat-slider__link Справка о профпригодности<br> по приказу 302н

                .swiper-slide
                    ul.cat-slider__item
                        li
                            .cat-slider__img
                                img(src="img/sl-4.jpg")
                                .cat-slider__price от 2650 руб
                        li
                            a(href="#").cat-slider__link Справка в УФМС для<br> иностранных граждан

                .swiper-slide
                    ul.cat-slider__item
                        li
                            .cat-slider__img
                                img(src="img/sl-5.jpg")
                                .cat-slider__price от 1200 руб
                        li
                            a(href="#").cat-slider__link Справка на оружие<br> (форма 002 о/у)

                .swiper-slide
                    ul.cat-slider__item
                        li
                            .cat-slider__img
                                img(src="img/sl-6.jpg")
                                .cat-slider__price от 500 руб
                        li
                            a(href="#").cat-slider__link Медицинская справка в<br> бассейн 083/4-89
            
            .swiper-pagination
        .swiper-button-next.swiper-button-next-nc
        .swiper-button-prev.swiper-button-prev-pc

.services
    h2.main-title.services__title Услуги и цены
    
    .table-show Справки для ГИБДД
    
    .table-wrap
        table.service-table
            thead
                tr
                    th Справки для ГИБДД
                    th Стоимость медкомиссии
                    th Время комиссии
                    th Онлайн запись
            tbody
                tr
                    td 
                        a(href="#").link-service Справки в ГИБДД, Для категории А, В 003в/у или 831Н
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |1200 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 20 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

                tr
                    td
                        a(href="#").link-service Справки в ГИБДД, Для категории А, В + нарколог и психиатр 003в/у или 831Н
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |2800 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 30 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

                tr
                    td
                        a(href="#").link-service Справки в ГИБДД, для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у или 831Н
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |2900 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 20 мин
                    td 
                        .table-check
                    button(type="button").table-btn Записаться
    
    .table-sub-title Справки для работы

    .table-show Справки для работы
    
    .table-wrap
        table.service-table.service-table_sub
            tbody
                tr
                    td 
                        a(href="#").link-service Справка для РВП, ВНЖ, для разрешения на работу для иностанных граждан (ФМС)
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |1200 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 20 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

                tr
                    td
                        a(href="#").link-service Справка о профпригодности + паспорт здоровья 302Н
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |2800 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 30 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

                tr
                    td
                        a(href="#").link-service Медицинская справка для госслужбы 001-ГС/У 
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |2900 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 20 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

    .table-sub-title Справки для отдыха

    .table-show Справки для отдыха
    
    .table-wrap
        table.service-table.service-table_sub.service-table_last
            tbody
                tr
                    td 
                        a(href="#").link-service Справка в ФМС для РВП / ВНЖ / разрешения на работу
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |1200 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 20 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

                tr
                    td
                        a(href="#").link-service Медицинская справка для выезда за границу 082/у
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |2800 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 30 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

                tr
                    td
                        a(href="#").link-service Медицинская справка для ребенка в лагерь 079/у 
                    td 
                        .service-table__mob-title Стоимость медкомиссии
                        |2900 руб
                    td 
                        .service-table__mob-title Время комиссии
                        |от 20 мин
                    td 
                        .table-check
                        button(type="button").table-btn Записаться

.link-block.container
    h2.main-title.link-block__title 
        |Все необходимые медсправки 
        span в одном месте
    
    .link-block__column-wrap
        .link-block__inner
            .link-block__column
                .link-block__img
                    img(src="img/smile.jpg")
                
                ul.link-block__list
                    li
                        a(href="#").link-service Справки в ГИБДД, Для категории А, В 003в/у или 831Н
                    li
                        a(href="#").link-service Справки в ГИБДД, Для категории А, В + нарколог и психиатр 003в/у или 831Н
                    li
                        a(href="#").link-service Справки в ГИБДД, для категории С, D, E с ЭЭГ + нарколог и психиатр 003в/у или 831Н

            .link-block__column
                ul.link-block__list
                    li
                        a(href="#").link-service Справка для РВП, ВНЖ, для разрешения на работу для иностанных граждан (ФМС)
                    li
                        a(href="#").link-service Справка о профпригодности + паспорт здоровья 302Н
                    li
                        a(href="#").link-service Медицинская справка для госслужбы 001-ГС/У

            .link-block__column
                ul.link-block__list
                    li
                        a(href="#").link-service Справка для РВП, ВНЖ, для разрешения на работу для иностанных граждан (ФМС)
                    li
                        a(href="#").link-service Справка о профпригодности + паспорт здоровья 302Н
                    li
                        a(href="#").link-service Медицинская справка для госслужбы 001-ГС/У

.filials
    .filials__top.container
        h2.main-title
            span 20 филиалов 
            |в Москве и Московской области
    
    .filials-slider-wrap.container
        .filials-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .filials-slider__item
                        .filials-slider__img
                            img(src="img/slide-1.jpg")
                        
                        ul.filials-slider__cont
                            li
                                a(href="#").filials-slider__link Медсправки на Бульваре Рокоссовского
                            li
                                .filials-slider__adress Москва, ул. Ивантеевская
                            li
                                .filials-slider__work-time Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                            li
                                .filials-slider__metro.red Бульвар Рокоссовского
                                .filials-slider__distance 300 м

                .swiper-slide
                    .filials-slider__item
                        .filials-slider__img
                            img(src="img/slide-2.jpg")
                        
                        ul.filials-slider__cont
                            li
                                a(href="#").filials-slider__link Медсправки на Братиславской
                            li
                                .filials-slider__adress Москва, ул. Братиславская 
                            li
                                .filials-slider__work-time Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                            li
                                .filials-slider__metro.orange Братиславская
                                .filials-slider__distance 600 м

                .swiper-slide
                    .filials-slider__item
                        .filials-slider__img
                            img(src="img/slide-2.jpg")
                        
                        ul.filials-slider__cont
                            li
                                a(href="#").filials-slider__link Медсправки на Бунинской аллее
                            li
                                .filials-slider__adress Москва, ул. Адмирала Лазарева
                            li
                                .filials-slider__work-time Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                            li
                                .filials-slider__metro.blue Бунинская аллея 
                                .filials-slider__distance 500 м
                
                .swiper-slide
                    .filials-slider__item
                        .filials-slider__img
                            img(src="img/slide-2.jpg")
                        
                        ul.filials-slider__cont
                            li
                                a(href="#").filials-slider__link Медсправки на Севастопольской
                            li
                                .filials-slider__adress Москва, ул. Малая Юшуньская
                            li
                                .filials-slider__work-time Пн-Сб: 9:00 - 20:00, Вс: 10:00 - 19:00
                            li
                                .filials-slider__metro.grey Каховская/Севастопольская
                                .filials-slider__distance 200 м
            .swiper-pagination
        .swiper-button-next.swiper-button-next-n
        .swiper-button-prev.swiper-button-prev-p

.licence.container
    h2.main-title.licence__title Наши лицензии
    .licence-slider-wrap
        .licence-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert-1.jpg")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert-2.jpg")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert-3.jpg")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert-4.jpg")
                .swiper-slide
                    .licence-slider__item
                        img(src="img/cert-5.jpg")

        .swiper-button-next.swiper-button-next-nl
        .swiper-button-prev.swiper-button-prev-pl