.header-desctop
    .header__top
        ul.top-nav
            li
                a(href="#") О компании
            li
                a(href="#") Лицензии
            li
                a(href="#") Наши услуги
            li
                a(href="#") Медицинские центры
            li
                a(href="#") Контакты
    
    .header__bottom
        .logo
            .logo__img
                img(src="img/logo.png" width="74" height="74" alt="Сеть медицинских центров в Москве")

            .logo__article
                .logo__slogan Сеть медицинских центров в Москве
                ul.logo__txt
                    li 
                        span Med
                    li Книжки 
                    li Справки
        
        nav.main-nav
            ul.main-nav__list
                li
                    a(href="#").link-work Медицинские справки
                    ul.main-nav__dropdown-top
                        li
                            a(href="#") Медсправка для ГИБДД (форма 003-В/у)
                        li.main-nav__nav-inner
                            a(href="#").link-drop-inner Медсправки для работы
                            .main-nav__inner-block
                                ul.main-nav__dropdown-inner
                                    li
                                        a(href="#") Медсправки для работы
                                    li
                                        a(href="#") Справки для учебы
                                    li
                                        a(href="#") Медсправки для детей
                                    li
                                        a(href="#") Медсправки для детей
                                    li
                                        a(href="#") Медсправки для детей
                        li
                            a(href="#") Справки для учебы
                        li
                            a(href="#") Медсправки для детей
                        li
                            a(href="#") Медсправки для иностранных граждан
                li
                    a(href="#").link-med Медкнижки
                li
                    a(href="#").link-prof Профосмотры 
                li
                    a(href="#").link-dg Диагностика
                li
                    a(href="#").link-org Для организаций

        .header__info
            ul.work-time
                li Время работы:
                li Пн-Пт: с 9:00 до 21:00
                li Сб-Вс: с 9:00 до 20:00
            
            ul.phone-block
                li
                    a(href="tel:+74957810037").phone-link.phone-link_desc +7 (495) 781-00-37
                li  
                    .phone-block__article.phone-block__article_desc Единый номер контакт-центра


.header-mobile
    .header-mobile__top
        .burger
        ul.phone-block
            li
                a(href="tel:+74957810037").phone-link.phone-link_desc +7 (495) 781-00-37
            li  
                .phone-block__article.phone-block__article_desc Единый номер контакт-центра
        .phone-icon

    .header-mobile__bottom
        .logo-mob
            ul.logo-mob__txt
                li 
                    span Med
                li Книжки 
                li Справки