extends ../layout/layout.pug
block vars
	- var title = 'Медицинские центры';
block header
	include ../includes/header.pug
block content
	include ../includes/content-centers.pug
block footer
	include ../includes/footer.pug     
              
